<app-header titulo="Cards"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis quam
      hic perferendis autem itaque doloribus quaerat dolorum voluptate adipisci
      consectetur consequatur eveniet, ducimus, dicta a illum maxime facere nam.
      Officia!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img
      src="https://img.freepik.com/foto-gratis/disparo-gran-angular-solo-arbol-que-crece-cielo-nublado-puesta-sol-rodeada-cesped_181624-22807.jpg?w=2000"
      alt=""
    />
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis quam
      hic perferendis autem itaque doloribus quaerat dolorum voluptate adipisci
      consectetur consequatur eveniet, ducimus, dicta a illum maxime facere nam.
      Officia!
    </ion-card-content>
  </ion-card>
</ion-content>
